SOBA_API_KEY=your_soba_api_key_here
SOBA_EVENT_ID=your_soba_event_id_here
NEXT_PUBLIC_SOBA_REGISTRATION_URL=https://poh.soba.network/verifyHuman?sid=your_sid_here
NEXT_PUBLIC_SOBA_VERIFICATION_URL=https://poh.soba.network/verify?sid=your_sid_here
